In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
texas_labor = "Employment_Data/Combined_Data.csv"

texas_df = pd.read_csv(texas_labor)
texas_df.head()

In [ ]:
texas_df.count()

In [ ]:
texas_df = texas_df.dropna()

In [ ]:
texas_df.count()

In [ ]:
texas_df

In [ ]:
texas_em = texas_df.drop(columns=['2003 Hourly Mean','2006 Hourly Mean','2009 Hourly Mean','2012 Hourly Mean',
                                   '2015 Hourly Mean', '2003 Hourly Median','2006 Hourly Median','2009 Hourly Median',
                                  '2012 Hourly Median','2015 Hourly Median', '2003 Annual Median','2006 Annual Median','2009 Annual Median','2012 Annual Median',
                                   '2015 Annual Median', '2003 Annual Mean', '2006 Annual Mean', '2009 Annual Mean', '2012 Annual Mean',
                                    '2015 Annual Mean' ])

In [ ]:
texas_em = texas_em.rename(columns = {'2003 Total Employees':2003,'2006 Total Employees':2006,'2009 Total Employees':2009,
                    '2012 Total Employees':2012,'2015 Total Employees':2015 })

In [ ]:
texas_em[2006]=texas_em[2006].str.replace(',','').astype(float)

In [ ]:
texas_em[2012]=texas_em[2012].str.replace(',','').astype(float)
texas_em[2015]=texas_em[2015].str.replace(',','').astype(float)

In [ ]:
texas_em.head()

In [ ]:
i = 1
for location in texas_em['Location'].unique():
    texas_em.loc[texas_em['Location'] == location, "Loc ID"] = i
    i= i+1

In [ ]:
texas_em['Loc ID'] = texas_em['Loc ID'].astype(int)

In [ ]:
texas_em2 =pd.melt(texas_em,id_vars=['Location','Occupation', 'Loc ID'], value_vars =[2003,2006,2009,2012,2015])

In [ ]:
texas_em2

In [ ]:
plt.figure(figsize = (10,6))
x_axis = texas_em2['variable']
plt.plot(x_axis, texas_em2['value'], color= 'red')
plt.xlabel("Year")

In [ ]:
# create model to ensure the model complies with 2018 data
# use 2003-2015 to train data
# once data is trained us 2018 to test data
# then use 2003-2018 data to predict 2021

In [ ]:
X = texas_em2[['Loc ID','variable']]
y = texas_em2['value'].values.reshape(-1,1)
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

training_score = model.score(X_test, y_test)
print(f"R2 Training Score: {training_score}")

In [ ]:
predictions = model.predict(X)
# Plot Residuals
plt.scatter(predictions, predictions - y)
plt.hlines(y=0, xmin=predictions.min(), xmax=predictions.max())
plt.show()

In [ ]:
from sklearn.datasets import make_classification

X, y = make_classification(n_features=5, n_redundant=0, n_informative=3,
                           random_state=42, n_classes=2, n_clusters_per_class=1)

y = y.reshape(-1, 1)

print(X.shape)
print(y.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [ ]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
 from tensorflow.keras.utils import to_categorical

In [ ]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

In [ ]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [ ]:
from tensorflow.keras.layers import Dense
number_inputs = 5
number_hidden_nodes = 6
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))